$color-palettes: (
  gris: (
    xx-light  : lighten($gris, 43%),
    x-light   : lighten($gris, 35%),
    light     : lighten($gris, 12%),
    base      : $gris,
    dark      : darken($gris, 8%),
    x-dark    : darken($gris, 16%),
    xx-dark   : darken($gris, 30%)
  ),
  negro: (
    light     : lighten($negro, 10%),
    base      : $negro,
    dark      : darken($negro, 10%)
  ),
  primario: (
    light     : lighten($color-primario, 12%),
    base      : $color-primario,
    dark      : darken($color-primario, 8%)
    )
);
