// =======================================
// =            Global Config            =
// =======================================

// Typography

// Use this to insert a Google Font the Import Function Comes from Manila Mixins
// If you won't use Google Fonts you can use Null or remove the line.
$font-url--google       : "http://fonts.googleapis.com/css?family=Raleway:100,300,400,700";
$font-family--primary   : "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--secondary : "Falco-Black", sans-serif;

// Text
$base__font-size        : 16px;
$base__line             : 1.65;

// Modular Scale - https://github.com/modularscale/modularscale-sass/tree/3.x
$ms-base                :  1rem;
$ms-ratio               : $major-third;

// Stuff for the BassCss-like classes
$total-stops            : 10;

// Typographic Weights
$fw--thin               : 100;
$fw__extra-light        : 200;
$fw--light              : 300;
$fw--regular            : 400;
$fw--medium             : 500;
$fw--semi-bold          : 600;
$fw--bold               : 700;
$fw--extra-bold         : 800;
$fw--ultra-bold         : 900;

// Colores Descriptivos
$white                  : #ffffff;
$black                  : #4a4a4a;
$gray                   : #797e83;
$orange                 : #EC7024;
$blue                   : #2ba5e0;

$main-color             : $orange;

// Transiciones
$trns-duration          : .3s;

// Grid
$column-gutter          : 20px;
$columns--total         : 12;

// Breakpoints
$breakpoints: (
  'phablet'     : em(414px),
  'tablet'      : em(768px),
  'laptop'      : em(1024px),
  'desktop'     : em(1440px),
  '4k'          : em(2560px)
);
