body
  color black
  font-family font-family--primary
  font-weight normal
  font-size base__font-size
  line-height: base__line-height
  letter-spacing: base__letter-space

h1
  @extend $header-default
  font-size: 2em

h2
  @extend $header-default

h3
  @extend $header-default

h4
  @extend $header-default

h5
  @extend $header-default

h6
  @extend $header-default
