// =======================================
// =            Global Config            =
// =======================================

// Typography

font-url--google        = 'http://fonts.googleapis.com/css?family=Raleway:100,300,400,700'
font-family--primary    = "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
// Esta letra es la importada de la carpeta fonts :)
font-family--secondary  = "Falco-Black", sans-serif

base__font-size         = 16px
base__line-height       = 1.65
base__letter-space      = 0

// Font-Weights
thin                    = 100
extra-light             = 200
light                   = 300
normal                  = 400
medium                  = 500
semi-bold               = 600
bold                    = 700
extra-bold              = 800
ultra-bold              = 900

// Colors
white                   = #ffffff
black                   = #4a4a4a
orange                  = #EC7024

main-color              = orange

// Transitions
trns-duration           = 0.3s


// Breakpoints
breakpoints = {
  'mobile'      : em(414px),
  'phablet'     : em(768px),
  'tablet'      : em(1024px),
  'laptop'      : em(1200px),
  'desktop'     : em(1440px),
  '4k'          : em(2560px)
}
