title Mercadolibre API Test
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
meta(name='description', content='Pequeña y graciosa prueba por parte de Miguel Palau')
meta(name='keywords', content='js, css, sass, coffee, Mercadolibre')
meta(name='author', content='Miguel Palau')
meta(name="robots", content="index, follow")

//- ----- link website ----- //
link(rel='icon' href='src/img/favicon.png' type='image/x-icon')

//- ----- CSS Files ----- //
//- Descomenta para probar tus renglones yeh
//- link(rel='stylesheet', href='http://basehold.it/24')
link(rel='stylesheet', href='css/odin.css')
