section.sample
  .container
    .flexyrow.vertical
      svg.odin
        use(xlink:href='#odin')
      h1 Bienvenidos
      h4 Ground Zero
    .flexyrow
      .half.vertical
        p Modifica esto a tu antojo con los archivos Jade y en cuanto estés listo corre el siguiente comando para compilar todo:
        
        code gulp
        
        p Una vez que quieras poner todo en modo producción (minimizado y comprimido) corre el siguiente comando:
        
        code gulp production
        
        p Si estás ocupando Github Pages y quieres subir el proyecto ahí simplemente puedes correr.
        
        code gulp deploy 
        
        p Finalmente recibe un nopal sin ningún motivo aparente

      
      .half.vertical
        img(src='img/nopal.png', alt='Un nopal bonito')

    .flexyrow
      a.btn(href='https://github.com/mike3run/ground-zero/archive/master.zip') Descarga aquí
      
    svg.odin-footer
      use(xlink:href='svg/external.svg#chochini')
