doctype html
html(lang='es')
  head
    title SVG Firma Test
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content='Una pequeña prueba de pintar con svg.')
    meta(name='keywords', content='svg animation css')
    meta(name='author', content='@mpalau')
    meta(name="robots", content="index, follow")

    //- ----- link website ----- //
    link(rel='icon' href='src/img/favicon.png' type='image/x-icon')

    //- ----- CSS Files ----- //
    link(rel='stylesheet', href='css/style.css')
  
  body
    
    script(type='text/javascript', src='js/main.js')
